*{
    margin: 0;
    padding: 1;
}

body{
    background-color: rgb(0, 0, 0);
}

.cabecalho {
    background-color:#fffb00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 25px
    
}
